In [1]:
import pandas as pd

In [14]:
a = pd.read_csv('davis_test_result.txt',header = None)
a

                                              0                  1
0        # [1/1000] testing 102.5% loss=0.73885         ci=0.53163
1                            total_loss=0.85417   total_ci=0.54311
2                                            --                NaN
3        # [2/1000] testing 102.5% loss=0.93745         ci=0.58922
4                            total_loss=0.75049   total_ci=0.60684
...                                         ...                ...
2994   # [999/1000] testing 102.5% loss=0.81828         ci=0.69411
2995                         total_loss=0.90132   total_ci=0.59601
2996                                         --                NaN
2997  # [1000/1000] testing 102.5% loss=1.20608         ci=0.58188
2998                         total_loss=0.95015   total_ci=0.59351

[2999 rows x 2 columns]

In [15]:
b = a[a[0].str.contains('total')]
#type(b)
b

                       0                  1
1     total_loss=0.85417   total_ci=0.54311
4     total_loss=0.75049   total_ci=0.60684
7     total_loss=0.76174   total_ci=0.61342
10    total_loss=0.74516   total_ci=0.61021
13    total_loss=0.74859   total_ci=0.60776
...                  ...                ...
2986  total_loss=0.94345   total_ci=0.60439
2989  total_loss=0.90674   total_ci=0.59826
2992  total_loss=0.94960   total_ci=0.58626
2995  total_loss=0.90132   total_ci=0.59601
2998  total_loss=0.95015   total_ci=0.59351

[1000 rows x 2 columns]

In [11]:
b.to_csv("davis_test_CI_MSE.txt",index =False,header =False)

In [16]:
a = pd.read_csv('kiba_test_result.txt',header = None)
a

                                              0                  1
0        # [1/1000] testing 100.1% loss=1.15039         ci=0.63007
1                            total_loss=0.95936   total_ci=0.64817
2                                            --                NaN
3        # [2/1000] testing 100.1% loss=0.72214         ci=0.66081
4                            total_loss=0.95603   total_ci=0.67006
...                                         ...                ...
2994   # [999/1000] testing 100.1% loss=0.72481         ci=0.78114
2995                         total_loss=0.41725   total_ci=0.77104
2996                                         --                NaN
2997  # [1000/1000] testing 100.1% loss=0.33141         ci=0.77038
2998                         total_loss=0.41399   total_ci=0.77112

[2999 rows x 2 columns]

In [17]:
b = a[a[0].str.contains('total')]
#type(b)
b

                       0                  1
1     total_loss=0.95936   total_ci=0.64817
4     total_loss=0.95603   total_ci=0.67006
7     total_loss=0.68526   total_ci=0.68560
10    total_loss=1.96468   total_ci=0.69912
13    total_loss=0.85019   total_ci=0.69045
...                  ...                ...
2986  total_loss=0.41590   total_ci=0.77094
2989  total_loss=0.41634   total_ci=0.77277
2992  total_loss=0.42169   total_ci=0.76840
2995  total_loss=0.41725   total_ci=0.77104
2998  total_loss=0.41399   total_ci=0.77112

[1000 rows x 2 columns]

In [18]:
b.to_csv("kiba_test_CI_MSE.txt",index =False,header =False)